<style>
  #games {
    font-family: Arial;
    border-collapse: collapse;
    font-size: 8pt;
  }

  #games td, #games th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #games tr:nth-child(even) { background-color: #f2f2f2; }

  #games tr:hover { background-color: #ddd; }

  #games th {
    background-color: #4CAF50;
    color: white;
  }

  .number {
    text-align: right;
  }
</style>

<table id="games">
  <tr>
    <th>Game</th>
    <th class="number">Player Count</th>
    <th class="number">Rank</th>
    <th class="number">Rating</th>
    <th class="number">Voters</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><a href="https://boardgamegeek.com<%= game.href %>"><%= game.name %></a></td>
      <td class="number"><%= game.player_count %></td>
      <td class="number"><%= game.rank %></td>
      <td class="number"><%= game.rating %></td>
      <td class="number"><%= game.voters %></td>
    </tr>
  <% end %>
</table>
