<script src="../views/sorttable.js"></script>

<style>
  #games {
    font-family: Arial;
    border-collapse: collapse;
    font-size: 8pt;
  }

  #games td, #games th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #games tr:nth-child(even) { background-color: #f2f2f2; }

  #games tr:hover { background-color: #ddd; }

  #games th {
    background-color: #4CAF50;
    color: white;
  }

  #games td { white-space: nowrap; }

  .number { text-align: right; }
</style>

<table id="games" class="sortable">
  <tr>
    <th>Game</th>
    <th>Year</th>
    <th>Player Count</th>
    <th>Rank</th>
    <th>Rating</th>
    <th>Voters</th>
    <th>Rules</th>
    <th>Difficulty</th>
    <th>Location</th>
    <th>Category</th>
    <th>Date Added</th>
    <th>Gurus</th>
    <th>Sell Product</th>
    <th>iOS</th>
    <% @months.each do |month| %>
      <th class="rank"><div><span><%= month.strftime("%m/%y") %></span></div></th>
    <% end %>
    <th>Game</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><a href="https://boardgamegeek.com<%= game.href %>"><%= game.name %></a></td>
      <td class="number"><%= game.year %></td>
      <td class="number"><%= game.player_count %></td>
      <td class="number"><%= game.rank %></td>
      <td class="number"><%= game.rating %></td>
      <td class="number"><%= game.voters %></td>
      <td>
        <% if game.rules_url.present? %>
          <a href="<%= game.rules_url %>">Rules</a>
        <% end %>
      </td>
      <td class="number"><%= game.difficulty %></td>
      <td><%= game.location %></td>
      <td><%= game.category %></td>
      <td><%= game.ts_added %></td>
      <td class="number"><%= game.employees_teachable %></td>
      <td><%= "Not sold" if game.sell_product.to_i == 0 && game.location %></td>
      <td><%= "iOS" if game.ios %></td>
      <% @months.each do |month| %>
        <td class="number"><%= game.players[month.to_s] %></td>
      <% end %>
      <td><a href="https://boardgamegeek.com<%= game.href %>"><%= game.name %></a></td>
    </tr>
  <% end %>
</table>
