<script src="./views/sorttable.js"></script>
<script src="./views/sparkline.js"></script>
<style>
  #games { font-family: Arial; border-collapse: collapse; font-size: 8pt; }
  #games td, #games th { border: 1px solid #ddd; padding: 8px; }
  #games tr:nth-child(even) { background-color: #f2f2f2; }
  #games tr:hover * { background-color: rgb(194, 149, 141) !important; }
  #games th { background-color: #4CAF50; color: white; }
  #games td { white-space: nowrap; }
  .number { text-align: right; }
  .low { background-color: silver; }
  .high { background-color: rgb(183, 214 ,170); }
  .player-rank-1 { background-color: #c68eff; } /* purple */
  .player-rank-2 { background-color: #8e8eff; } /* blue */
  .player-rank-3 { background-color: #8eff8e; } /* green */
  .player-rank-4 { background-color: #ffff8e; } /* yellow */
  .player-rank-5 { background-color: #ffc68e; } /* orange */
  .player-rank-6 { background-color: #ff8e8e; } /* red */
  .trend-down { background-color: #8e8eff; } /* blue */
  .trend-even { background-color: #ffff8e; } /* yellow */
  .trend-up { background-color: #ff8e8e; } /* red */
  .right-border { border-right: 1px solid #999 !important; }
  .sparkline { stroke: red; fill: rgba(255, 0, 0, .3); }
  th { position: sticky; top: 0; }
</style>

<table id="games" class="sortable">
  <tr>
    <th>Play Stats</th>
    <th>Game</th>
    <th>Year</th>
    <th>Player Count</th>
    <th>Rank</th>
    <th>Rating</th>
    <th>Voters</th>
  </tr>
  <% @games.each.with_index do |game, i| %>
    <%
      low_rank = game[:rank].to_i > 300
      low_rating = game[:rating].to_f < 7.5
      player_count_rank = @bgg.player_rank(game[:player_count])
      voter_count_rank = @bgg.voter_rank(game[:voters])
    %>
    <tr>
      <td><svg class="sparkline sparkline-<%= i %>" width="100" height="30" stroke-width="3"></svg></td>
      <td class="trend-<%= game[:trend] %>">
        <a href="https://boardgamegeek.com<%= game[:href] %>"><%= game[:name] %></a>
      </td>
      <td class="number"><%= game[:year] %></td>
      <td class="number player-rank-<%= player_count_rank %>"><%= game[:player_count] %></td>
      <td class="number <%= 'low' if low_rank %>"><%= game[:rank] %></td>
      <td class="number <%= 'low' if low_rating %>"><%= game[:rating] %></td>
      <td class="number player-rank-<%= voter_count_rank %> right-border"><%= game[:voters] %></td>
    </tr>
  <% end %>
</table>

<script>
  <% @games.each.with_index do |game, i| %>
    sparkline(
      document.querySelector(".sparkline-<%= i %>"),
      <%= @months.map { |month| game[:players].to_h[month.to_s].to_i }.to_s %>
    );
  <% end %>
</script>

