<script src="../views/sorttable.js"></script>

<style>
  #games {
    font-family: Arial;
    border-collapse: collapse;
    font-size: 8pt;
  }

  #games td, #games th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #games tr:nth-child(even) { background-color: #f2f2f2; }

  #games tr:hover { background-color: #ddd; }

  #games th {
    background-color: #4CAF50;
    color: white;
  }

  .number {
    text-align: right;
  }
</style>

<table id="games" class="sortable">
  <tr>
    <th>Game</th>
    <th class="number">Year</th>
    <th class="number">Player Count</th>
    <th class="number">Rank</th>
    <th class="number">Rating</th>
    <th class="number">Voters</th>
    <th>Rules</th>
    <th class="number">Difficulty</th>
    <th>Location</th>
    <th>Category</th>
    <th>Date Added</th>
    <th class="number">Gurus</th>
    <th>Sell Product</th>
    <th>iOS</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><a href="https://boardgamegeek.com<%= game.href %>"><%= game.name %></a></td>
      <td class="number"><%= game.year %></td>
      <td class="number"><%= game.player_count %></td>
      <td class="number"><%= game.rank %></td>
      <td class="number"><%= game.rating %></td>
      <td class="number"><%= game.voters %></td>
      <td>
        <% if game.rules_url.present? %>
          <a href="<%= game.rules_url %>">Rules</a>
        <% end %>
      </td>
      <td class="number"><%= game.difficulty %></td>
      <td><%= game.location %></td>
      <td><%= game.categories %></td>
      <td><%= game.ts_added %></td>
      <td class="number"><%= game.employees_teachable %></td>
      <td><%= "Not sold" if game.sell_product.to_i == 0 && game.location %></td>
      <td><%= "iOS" if game.ios %></td>
    </tr>
  <% end %>
</table>
