<script src="./views/sorttable.js"></script>
<style>
  .data-table { font-family: Arial; border-collapse: collapse; font-size: 8pt; margin-top: 20px; }
  .data-table td, .data-table th { border: 1px solid #ddd; padding: 8px; }
  .data-table tr:nth-child(even) { background-color: #f2f2f2; }
  .data-table tr:hover * { background-color: rgb(194, 149, 141) !important; }
  .data-table th { background-color: #4CAF50; color: white; }
  .data-table td { white-space: nowrap; }
  .number { text-align: right; }
  .cover { position: relative; }
  .cover-lg { display: none; position: absolute; left: 50px; top: -20px; z-index: 10; }
  .cover:hover .cover-lg { display: block; }
  .cover:hover > img:first-child { opacity: 0; }
  .genre-pill { display: inline-block; padding: 2px 8px; border-radius: 10px; color: white; font-size: 7pt; }
  th { position: sticky; top: 20; }
  h2 { font-family: Arial; margin-top: 30px; }
</style>

<h2>Books</h2>
<table class="data-table sortable">
  <tr>
    <th>Book Type</th>
    <th>Holds</th>
    <th>Copies</th>
    <th>Available</th>
    <th>On Order</th>
    <th>Rating</th>
    <th>Book</th>
    <th>Author</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Availability Status</th>
    <th>Audiences</th>
    <th>Content Type</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.book_type %></td>
      <td class="number"><%= book.holds %></td>
      <td class="number"><%= book.copies %></td>
      <td class="number"><%= book.available %></td>
      <td class="number"><%= book.on_order %></td>
      <td class="number"><%= book.rating %></td>
      <td><a href="https://tpl.bibliocommons.com<%= book.href %>"><%= book.title %></a></td>
      <td><%= book.author %></td>
      <td><%= book.year %></td>
      <td><% unless book.genre.empty? %><span class="genre-pill" style="background-color: <%= genre_color(book.genre) %>"><%= book.genre %></span><% end %></td>
      <td><%= book.availability_status %></td>
      <td><%= book.audiences %></td>
      <td><%= book.content_type %></td>
    </tr>
  <% end %>
</table>

<h2>DVDs</h2>
<table class="data-table sortable">
  <tr>
    <th>Holds</th>
    <th>Copies</th>
    <th>Available</th>
    <th>On Order</th>
    <th>Rating</th>
    <th>Title</th>
    <th>Year</th>
    <th>Availability Status</th>
    <th>Audiences</th>
    <th>Content Type</th>
  </tr>
  <% @dvds.each do |dvd| %>
    <tr>
      <td class="number"><%= dvd.holds %></td>
      <td class="number"><%= dvd.copies %></td>
      <td class="number"><%= dvd.available %></td>
      <td class="number"><%= dvd.on_order %></td>
      <td class="number"><%= dvd.rating %></td>
      <td><a href="https://tpl.bibliocommons.com<%= dvd.href %>"><%= dvd.title %></a></td>
      <td><%= dvd.year %></td>
      <td><%= dvd.availability_status %></td>
      <td><%= dvd.audiences %></td>
      <td><%= dvd.content_type %></td>
    </tr>
  <% end %>
</table>
